# Node & Next.js
cloud-cv-analyzer/node_modules/
cloud-cv-analyzer/.next/
cloud-cv-analyzer/out/
cloud-cv-analyzer/build/

# Python & FastAPI
cv-analyzer-backend/venv/
cv-analyzer-backend/__pycache__/
cv-analyzer-backend/*.pyc

# Ortam Değişkenleri (Gizli Tutulacaklar)
.env
.env.local